* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}
body {
    font-family: "Lato", sans-serif;
    background-color: #ede9d0;
    color: white;
}
header {
    background-color: #3a001e;
    display: flex;
    align-items: center;
    height: 112px;
    padding: 0 24px;
    box-shadow: 0 4px 8px #3a001e8e;
}
header img {
    height: 64px;
    cursor: pointer;
}
@media (max-width: 375px) {
    header img {
        height: 32px;
    }
}

#mainPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    .desktopTitle {
        display: block;
        justify-content: center;
        text-align: center;
        padding: 48px;
        font-size: 48px;
        margin-bottom: 64px;
    }
    .mobileTitle {
        display: none;
        justify-content: center;
        text-align: center;
        padding: 72px;
        font-size: 64px;
        margin-bottom: 64px;
    }
    @media (max-width: 600px) {
        .mobileTitle {
            font-size: 48px;
            height: 32px;
            display: block;
        }
        .desktopTitle {
            display: none;
        }
    }
    @media (max-width: 350px) {
        .mobileTitle {
            font-size: 28px;
            margin: 0;
        }
    }
    #imgArea {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
        justify-content: center;
        gap: 10px;
        padding: 20px;

        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 5px;
            cursor: pointer;
            object-fit: cover;
        }
    }
}
footer {
    text-align: center;
    background-color: #3a001e;
    height: 112px;
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px #3a001e;

    img {
        height: 72px;
        width: 72px;
        cursor: pointer;
    }
    span {
        padding-bottom: 12px;
        color: #ede9d0;
    }
}
.thumb {
    width: 100%;
    max-width: 140px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.thumb:hover {
    transform: scale(1.05);
    border: solid 2px rgb(235, 233, 233);
}

.lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.849);
}

.lightBoxBackground {
    position: absolute;
    width: 100vw;
    height: 80vh;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.1),
        rgba(187, 181, 181, 0.3)
    );
    border-radius: 20px;
    backdrop-filter: blur(10px);
    cursor: pointer;
}
@media (max-width: 350px) {
    .lightBoxBackground {
        height: 100vh;
    }
}

#imgNames {
    padding: 0 12px 24px 12px;
    font-size: 32px;
    transition: transform 0.3s ease;
}
#imgNames:hover {
    color: #3a001e;
    transform: rotate(-1deg);
}

@media (max-width: 375px) {
    #imgNames {
        font-size: 18px;
    }
}
#lightBoxContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#lightboxImg {
    max-width: 60vw;
    max-height: 60vh;
    border-radius: 10px;
}
#closeBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}
#closeBtn:hover {
    color: rgba(255, 255, 255, 0.24);
}
.hidden {
    display: none;
}

/* https://freefrontend.com/css-arrows/*/
.navBtn {
    background: none;
    border: none;
    padding: 0;
    position: relative;
    width: 20px;
    height: 60px;
    cursor: pointer;

    .arrow {
        cursor: pointer;
        height: 60px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: transform 0.1s;
        width: 50px;
    }

    @media (max-width: 375px) {
        .navBtn .arrow {
            width: 20px;
            height: 20px;
        }
    }

    .arrow-top,
    .arrow-bottom {
        background-color: #666;
        height: 4px;
        left: -5px;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .arrow-top:after,
    .arrow-bottom:after {
        background-color: #fff;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        transition: all 0.15s;
    }

    .arrow-top {
        transform: rotate(45deg);
        transform-origin: bottom right;
    }

    .arrow-top:after {
        left: 100%;
        right: 0;
        transition-delay: 0s;
    }

    .arrow-bottom {
        transform: rotate(-45deg);
        transform-origin: top right;
    }

    .arrow-bottom:after {
        left: 0;
        right: 100%;
        transition-delay: 0.15s;
    }

    .arrow:hover .arrow-top:after {
        left: 0;
        transition-delay: 0.15s;
    }

    .arrow:hover .arrow-bottom:after {
        right: 0;
        transition-delay: 0s;
    }

    .arrow:active {
        transform: translateX(-50%) translateY(-50%) scale(0.9);
    }
    .arrow-left .arrow-top {
        transform: rotate(-45deg);
        transform-origin: bottom left;
    }

    .arrow-left .arrow-bottom {
        transform: rotate(45deg);
        transform-origin: top left;
    }

    #prevBtn {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    #nextBtn {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}
