* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Rampart One", sans-serif;
    background-color: #ede9d0;
    color: white;
}
header {
    background-color: #3a001e;
    display: flex;
    align-items: center;
    height: 112px;
    padding: 0 24px;
    box-shadow: 0 4px 8px #3a001e8e;
}
header img {
    height: 64px;
    width: auto;
    cursor: pointer;
}
@media (max-width: 375px) {
    header img {
        height: 32px;
    }
}

#mainPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    .desktopTitle {
        display: block;
        justify-content: center;
        text-align: center;
        padding: 72px;
        font-size: 64px;
        margin-bottom: 64px;
    }
    .mobileTitle {
        display: none;
        justify-content: center;
        text-align: center;
        padding: 72px;
        font-size: 64px;
        margin-bottom: 64px;
    }
    @media (max-width: 600px) {
        .mobileTitle {
            font-size: 48px;
            height: 32px;
            display: block;
        }
        .desktopTitle {
            display: none;
        }
    }
    @media (max-width: 350px) {
        .mobileTitle {
            font-size: 28px;
            margin: 0;
        }
    }
    #imgArea {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
        justify-items: center;
        gap: 10px;
        padding: 20px;
    }
}
footer {
    text-align: center;
    background-color: #3a001e;
    height: 112px;
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px #3a001e;

    img {
        height: 72px;
        width: 72px;
        cursor: pointer;
    }
    span {
        padding-bottom: 12px;
        color: #ede9d0;
    }
}
.thumb {
    width: 100%;
    max-width: 140px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.thumb:hover {
    transform: scale(1.05);
    border: solid 2px rgb(235, 233, 233);
}

#lightbox {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

#lightboxImg {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}

#closeBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    border: 2px solid yellow;
}
.hidden {
    display: none;
}
